<h3>ユーザー情報一覧</h3>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>年齢</th>
      <th>一言紹介</th>
      <th>更新日</th>
      <th>作成日</th>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.age %></td>
        <td><%= user.introduction %></td>
        <%# to_s(:datetime_jp)は/config/initializers/time_formats.rb 中で定義 %>
        <%# これつけないと､標準時との時差とか余計なものが表示されて邪魔になる 
        %>
        <td><%= user.updated_at.to_s(:datetime_jp) %></td>
        <td><%= user.created_at.to_s(:datetime_jp) %></td>
        
        <%# ユーザー詳細ページへのリンクを作成%>
        <%# なぜ:userじゃくて､userなのだろうか｡｡
             →rails routes のprefix が user <=> users#show だから?%>
        <td>
          <%= link_to "参照", user %>
        </td>
        
        <%# ユーザー編集ページへのリンクを作成%>
        <%# 相変わらずlint_toメソッドの文法がよくわからない %>
        <%# rails routes のprefic が edit_user <=> users#editだから､
            [:edit, user] なのか? %>
        <td>
          <%= link_to "編集", [:edit, user]%>
        </td>
        
        <%# ユーザー削除リンクを作成 %>
        <%# 第2引数の user は､ ユーザー詳細ページのときと同じく､ rails routes のprefix が user <=> users#destroy だからか? %>
        <%# 第3引数は､HTTPメソッドがgetメソッドのとき以外は､省略不可 %>
        <%# 第4引数は､必須ではない｡これをつけることで､確認のアラートを表示することができる %>
        
        <td>
          <%= link_to "削除", user, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </td>
      
        
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "ユーザー新規登録", :new_user %></p>